body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 0 100px;
    gap: 20px;
}

.header ul {
    list-style-type: none;
    display: flex;
    width: auto;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.logo,
.logo span {
    
    display: flex;
    align-items: center;
}

.logo img {
    height: auto;
    width: 75px;
}

.logo span {
    font-size: 24px;
    color: #F9FAF8;
}

.main .subtext,
.header ul {
    padding: 0;
    font-size: 18px;
    color: #E5E7EB
}

.main {
    background-color: #1F2937;
    display: flex;
    padding: 50px 100px;
}

.main-text {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    gap: 10px;
}

.main img {
    height: auto;
    width: 448px;
}

.main .text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: #3882F6;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.info img {
    height: 150px;
    width: 150px;
    border: #3882F6 solid 5px;
    border-radius: 10px;
    object-fit: cover;
}

.info-imgs {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0 200px;
}

.info-imgs .subtext {
    width: 150px;
}

.info .text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-top: 50px;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote .text {
    font-weight: bolder;
    color: #1F2937;
    align-self: flex-end;
    margin-top: -26px;
}

.cta {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882F6;
    width: 800px;
    padding: 40px 100px;
    margin: 50px 200px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-shrink: .5;
}

.cta-text {
    margin-right: 50px;
}

.cta button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: white;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cta .text {
    color: white;
    font-weight: bold;
}

.cta .subtext {
    color: white;
}

.footer {
    background-color: #1F2937;
    margin-top: auto;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}