body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #1F2937;
    display: flex;
}

.main {
    background-color: #1F2937;
}

.info {

}

.quote {
    background-color: #E5E7EB;
}

.cta {
    background-color: white;
}

.cta.container {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    margin-top: auto;
}